* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(49, 47, 64);
  background: linear-gradient(
    90deg,
    rgba(49, 47, 64, 1) 0%,
    rgba(10, 10, 10, 1) 50%,
    rgba(49, 47, 64, 1) 100%
  );
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  color: black;
  text-shadow: 6px 6px 8px black, 0 0 30px white, 0 0 8px white;
  text-align: center;
  font-size: 35px;
  margin: 20px;
}

.demo__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
}

a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  font-size: 30px;
}

a:hover {
  transform: scale(1.5);
}

.github__button {
  background-color: green;
  margin-top: 15px;
  padding: 10px;
  border-radius: 20px;
}

.footer {
  position: fixed;
  padding: 10px;
  font-size: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
