* {

    margin: 0;
    padding: 0;
}

body {

    background: rgb(49,47,64);
    background: linear-gradient(90deg, rgba(49,47,64,1) 0%, rgba(10,10,10,1) 50%, rgba(49,47,64,1) 100%);   
}

.heading {

    color: black;
    text-shadow: 6px 6px 8px black, 0 0 30px white, 0 0 8px white;
    text-align: center;
    font-size: 70px;
    margin: 20px;
}

a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    transition: transform .2s;
    font-size: 25px;
}

a:hover {

    transform: scale(1.5);
}

.footer {
    position: fixed;
    padding: 10px;
    font-size: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

